[Desktop Entry]
Comment=Flat theme with everything you need for nice flat desktop
Name=Iris Dark
X-KDE-PluginInfo-Author=Josh Freeno
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=freefreeno81@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Iris-Dark
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/freefreeno/Iris-Dark-KDE
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1314866,kns://plasma-themes.knsrc/api.kde-look.org/1314870,kns://aurorae.knsrc/api.kde-look.org/1314871,kns://icons.knsrc/api.kde-look.org/1314872,kns://wallpaper.knsrc/api.kde-look.org/1314841,kns://wallpaper.knsrc/api.kde-look.org/1314843
